In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('EV_EVN_00_HHE_0.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   time                     523 non-null    object
 1   amplitude                523 non-null    float64
 2   network                  523 non-null    object
 3   station                  523 non-null    object
 4   location                 523 non-null    int64
 5   channel                  523 non-null    object
 6   starttime                523 non-null    object
 7   endtime                  523 non-null    object
 8   sampling_rate            523 non-null    float64
 9   delta                    523 non-null    float64
 10  npts                     523 non-null    int64
 11  calib                    523 non-null    float64
 12  _format                  523 non-null    object
 13  mseed_dataquality        523 non-null    object
 14  mseed_number_of_records  523 non-null    int64
 15  mseed_encoding           523 non-null    object
 16  mseed_byteorder          523 non-null    object
 17  mseed_record_length      523 non-null    int64
 18  mseed_filesize           523 non-null    int64
dtypes: float64(4), int64(5), object(10)
memory usage: 77.8+ KB

In [4]:
df['time']

0      2018-03-06T16:57:18.500000Z
1      2018-03-06T16:57:18.510000Z
2      2018-03-06T16:57:18.520000Z
3      2018-03-06T16:57:18.530000Z
4      2018-03-06T16:57:18.540000Z
                  ...
518    2018-03-06T16:57:23.680000Z
519    2018-03-06T16:57:23.690000Z
520    2018-03-06T16:57:23.700000Z
521    2018-03-06T16:57:23.710000Z
522    2018-03-06T16:57:23.720000Z
Name: time, Length: 523, dtype: object

In [5]:
df.head(5)

,time,amplitude,network,station,location,channel,starttime,endtime,sampling_rate,delta,npts,calib,_format,mseed_dataquality,mseed_number_of_records,mseed_encoding,mseed_byteorder,mseed_record_length,mseed_filesize
0,2018-03-06T16:57:18.500000Z,13.027245,EV,EVN,0,HHE,2018-03-06T16:57:18.500000Z,2018-03-06T16:57:23.720000Z,100.0,0.01,523,1.0,MSEED,D,10,FLOAT64,>,512,15360
1,2018-03-06T16:57:18.510000Z,11.866854,EV,EVN,0,HHE,2018-03-06T16:57:18.500000Z,2018-03-06T16:57:23.720000Z,100.0,0.01,523,1.0,MSEED,D,10,FLOAT64,>,512,15360
2,2018-03-06T16:57:18.520000Z,9.739427,EV,EVN,0,HHE,2018-03-06T16:57:18.500000Z,2018-03-06T16:57:23.720000Z,100.0,0.01,523,1.0,MSEED,D,10,FLOAT64,>,512,15360
3,2018-03-06T16:57:18.530000Z,9.791241,EV,EVN,0,HHE,2018-03-06T16:57:18.500000Z,2018-03-06T16:57:23.720000Z,100.0,0.01,523,1.0,MSEED,D,10,FLOAT64,>,512,15360
4,2018-03-06T16:57:18.540000Z,11.941201,EV,EVN,0,HHE,2018-03-06T16:57:18.500000Z,2018-03-06T16:57:23.720000Z,100.0,0.01,523,1.0,MSEED,D,10,FLOAT64,>,512,15360